body {
    background-color: black;
    color: white;
    margin: 0 auto;
    width: 80%;
}

nav {
    align-items: center;
    display: flex;
    gap: 2em;
    height: inherit;
}

nav a {
    color: inherit;
    font-size: 2em;
    text-decoration: none;
}

header, footer {
    align-items: center;
    display: flex;
    height: 8em;
    justify-content: space-between;
}

footer img {
    height: auto;
    width: 1em;
    object-fit: contain;
}
