body {
    background-color: black;
    color: white;
    margin: 2em auto;
    width: 80%;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
}

nav a {
    color: inherit;
    font-size: larger;
    margin: 0 1em;
    text-decoration: none;
}
