main h1 {
    text-align: center;
}

#grid {
    display: grid;
    grid: repeat(4, 1fr) / repeat(2, 1fr);
}

section {
    outline-style: solid;
    outline-width: 1px;
}

section h2 {
    text-align: center;
}

#jobs {
    grid-column: 1;
    grid-row: 1 / span 3;
}

#education {
    grid-column: 2;
    grid-row: 1;
}

#contact {
    grid-column: 1;
    grid-row: 4;
}

#skills {
    grid-column: 2;
    grid-row: 2 / span 4;
}
