main {
    font-size: larger;
    outline: 1px solid white;
    padding: 2em;
    width: 210mm;
}

main h1 {
    text-align: center;
}

#grid {
    display: grid;
    gap: 1em;
    grid: repeat(3, 1fr) / repeat(2, 1fr);
    margin-top: 4em;
    margin-bottom: 2em;
}

section h2 {
    text-align: center;
}

#jobs, #education, #contact {
    padding: 1em;
}

#jobs {
    grid-column: 1;
    grid-row: 1 / span 2;
}

#education {
    grid-column: 1;
    grid-row: 3;
}

#skills {
    grid-column: 2;
    grid-row: 1 / span 3;
}

#contact {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media print {
    body {
        width: 100%;
    }

    header, footer {
        display: none !important;
    }
}
